  	.rand_oben{
		border-top: 1px solid #333;
	}
	.rand_unten{
		border-bottom: 1px solid #333;
	}
	.rand_links{
		border-left: 1px solid #333;
	}
	.rand_rechts{
		border-right: 1px solid #333;
	}
	td{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 8px;
	}

	h1{
		font-size:20px;
		margin:0;
		padding:0;
		font-weight:normal;
	}
	h3{
		margin:0;
		padding:0;
		font-size: 10px;
	}
	h4{
		margin:0;
		margin-bottom:5px;
		padding:0;
	}
	.gueltig_bis{
		font-size: 20px;
		color:white;
		margin: auto 0;
	}
	.grauer_bg{
		background-color:#CCCCCC;
        font-family:Arial, Helvetica, sans-serif;
		font-size: 10px;
        border:solid 1px #000000;
	}
	.dunkel_grauer_bg{
		background-color:#999999;
	}
	.niedrig{

        font-size:1px;
	}
	.duenn{
		margin-left:0;
		margin-right:0;
		padding-left:0;
		padding-right:0;
		font-size:1px;
        width:0.1cm;
	}
