@font-face {
	font-family: "horai-umefont";
	src: url("font/horai-umefont/ume-hgo4.ttf")
}

@font-face {
	font-family: "noto-thaana";
	src: url("font/noto/NotoSansThaana-Regular.ttf")
}


html {
    font-family: horai-umefont;
}

.notothaana{
    font-family: noto-thaana;
}